<footer class="bg-light section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-5">
        {{ if site.Menus.footer_left }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_left }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_left }}
          <li><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        {{ if site.Menus.footer_middle }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_middle }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_middle }}
          <li><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        {{ if site.Menus.footer_right }}
        <div class="h3 mb-4">{{ site.Params.footer_menu_right }}</div>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer_right }}
          <li><a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        <a class="d-block h3 mb-3" href="{{ site.BaseURL | absLangURL}}" >
          {{ with site.Params.logo}}
          <img width="{{site.Params.logo_width}}" class="img-fluid" src="{{ . | relURL }}" alt="{{ site.Title }}">
          {{ else }}{{site.Title}}{{end}}
        </a>
        <p class="mb-4">{{ site.Params.footer_content | markdownify }}</p>
        {{ with site.Params.social }}
        <ul class="list-inline social-icons">
          {{ range . }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}" target="_blank" title="{{ .title }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
    <div class="border-top border-default text-center py-4 mt-4">
      <small class="content">{{ site.Params.Copyright | markdownify }}</small>
    </div>
  </div>
</footer>